<div id="admin-wrap">

    <div id="admin-panel">
        <div class="panel-title panel-block">{{title}}</div>
        <div class="user-info panel-block">
            <p class="accaunt-title">{{accauntTitle}}</p>
            <p class="userrole-title">{{userRoleTitle}}</p>
        </div>
        <nav id="adminmenu-wrap">
            <ul id="adminmenu">
                <li class="adminmenu-item">
                    <a href="#">
                        <span class="item-bar"></span>
                        <span class="item-title">Модули</span>
                    </a>
                </li>
                <li class="adminmenu-item">
                    <a href="#">
                        <span class="item-bar"></span>
                        <span class="item-title">Шаблоны</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="admin-content">
        <h1>Добро пожаловать в панель администратора TVbit</h1>
    </div>

</div>
