.section {
    padding: 28px 32px 20px 32px;
}

.header {
    border-bottom: 1px solid var(--content-border-color);
}

.title {
    font-size: 22px;
    margin-bottom: 18px;
    color: var(--content-text-accent-color);
}

.subtitle {
    font-size: 14px;
}

.main {
    --ref-btn-color: #007aff;
}

.block {
    margin-bottom: 90px;
}

.main-title {
    margin-bottom: 40px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.col {
    width: 50%;
}

.marker {
    color: var(--ref-btn-color);
    margin-right: 4px;
}

.ref-btn {
    display: block;
    width: 222px;
    border: 1px solid var(--ref-btn-color);
    color: var(--ref-btn-color);
    text-decoration: none;
    text-align: center;
    line-height: 32px;
    margin-bottom: 5px;
    font-size: 0.9em;
    cursor: pointer;
}

.main-btn {
    border: none;
    color: white;
    background-color: var(--ref-btn-color);
    margin: 0 auto;
}