.section {
    padding: 28px 32px 8px 32px;
}

.header {
    /* border-bottom: 1px solid var(--content-border-color); */
    border-bottom: 1px solid rgb(196, 196, 196);
}

.title {
    font-size: 22px;
    margin-bottom: 18px;
    /* color: var(--content-text-accent-color); */
    color: rgb(73, 73, 73);
}

.subtitle {
    font-size: 14px;
}

.block {
    margin-bottom: 90px;
}

.main-title {
    margin-bottom: 40px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.col {
    width: 50%;
}

.marker {
    /* color: var(--ref-btn-color); */
    color: #007aff;
    margin-right: 4px;
}
