<div class="header section">
    <p class="title">Добро пожаловать в панель администратора TVbit</p>
    <p class="subtitle">Для того, чтобы сервис начал функционировать необходимо загрузить лицензии и установить клиенты модулей</p>
</div>

<div class="main section">
    <div class="block">
        <p class="main-title">Стартовая настройка:</p>
        <div class="row">
            <div class="col">
                <p><span class="marker">1.</span>Установите Клиент TVbit на все информационные модули</p>
            </div>
            <div class="col">
                <a class="clr-btn ref-btn" href="#">32-bit установщик для Windows</a>
                <a class="clr-btn ref-btn" href="#">64-bit установщик для Windows</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><span class="marker">2.</span>Загрузите лицензионные ключи</p>
            </div>
            <div class="col">
                <a class="clr-btn ref-btn" href="#">Перейти к загрузке</a>
            </div>
        </div>
    </div>

    <button class="clr-btn ref-btn main-btn" (click)="modal = true">Добавить webOS модуль</button>
</div>

<app-modal
    *ngIf="modal"
    modalTitle="Добавить webOS модуль"
    (close)="modal = false">
</app-modal>
